.controls {
  margin-right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 84px;
  box-sizing: border-box;

  .border_block();

  .btn {
    margin: 4px 0;
  }
}

.controls_input {
  display: none;

  &:checked {
    & + .controls_label {
      &::before {
        background-color: @active_color;
        border-color: @main_color;
      }
    }
  }
}

.controls_label {
  font-size: 14px;
  line-height: 16px;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-top: 6px;
  cursor: pointer;

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid @main_color;
    left: 0;
    top: 0;
  }
}