.notes {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.notes_title {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.notes_filtered {
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid @main_color;
}

.notes_filter {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  padding: 2px;
  border: 1px solid @main_color;

  &:not(:first-of-type) {
    margin-right: 6px;
  }
}

.notes_inner {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.notes_empty {
  margin-top: 20px;
}

.note {
  padding: 10px;
  width: 24%;
  height: fit-content;
  margin: 1% 1% 0 0;
  box-sizing: border-box;
  user-select: none;

  .border_block();
}

.note_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note_title {
  font-size: 16px;
  line-height: 18px;
  margin: 0 0 10px 0;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note_status {
  display: flex;
}

.note_input {
  display: none;

  &:checked {
    & + .note_icon {
      background-color: @active_color;
      border-color: @main_color;
    }
  }
}

.note_icon {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;

  &.note_mark {
    background-image: url('/note-build/images/icons/mark.svg');
  }

  &.note_fav {
    background-image: url('/note-build/images/icons/fav.svg');
  }

  &.note_delete {
    background-image: url('/note-build/images/icons/delete.svg');
    background-color: transparent;
    background-size: contain;
    padding: 0;
  }
}

.note_text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  word-break: break-word;
}

.note_date {
  font-size: 12px;
  line-height: 14px;
  color: @secondary_color;
  font-style: italic;
}

.new_note {
  .btn {
    &:not(:last-of-type) {
      margin-right: 6px;
    }
  }
}

.new_note_title,
.new_note_text {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid @main_color;
  box-sizing: border-box;
  padding: 4px 6px;
}

.new_note_title {
  &::placeholder {
    font-size: 16px;
    line-height: 18px;
  }
}

.new_note_text {
  resize: none;

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
}

.validation_message {
  color: @danger_color;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 4px;
}

.notes_list {
  .notes_inner {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .note {
    width: 99%;
    margin-right: 0;
  }
}