.notes {
  flex: 1 1 0;
}

.notes_inner {
  display: flex;
  margin-top: 20px;
}

.note {
  padding: 10px;
  border: 1px solid @main_color;
  width: 24%;
  margin: 0 1% 1% 0;
  box-sizing: border-box;
}