.stats {
  margin-top: auto;
  padding: 10px;
  box-sizing: border-box;
  width: 99%;

  .border_block();
}

.stats_item {
  font-size: 14px;
  line-height: 16px;

  &:not(:last-of-type) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid @main_color;
  }
}